{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "Explorer >= 11"],
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    "istanbul"
  ]
}
