<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
    <style>
      input[type="text"] {
        font-size: 16px; /* stops iOS Safari from zooming in */
      }
    </style>
  </head>
  <body>
    <main ng-controller="OmniboxExampleController as demo">
      <h1>Simple Omnibox Example</h1>
      <h2>Search through Github's emoji</h2>

      <button ng-click="demo.isDisabled = !demo.isDisabled">Toggle Disabled</button>
      <ngc-omnibox
          ng-model="demo.model"
          ng-disabled="demo.isDisabled"
          can-show="demo.shouldShowSuggestions(query)"
          source="demo.sourceFn(query)">

        <ngc-omnibox-field>
          <input type="text" autofocus="true"
              placeholder="Type in the name of an emoji (2 characters minimum)...">
        </ngc-omnibox-field>

        <ngc-omnibox-suggestions>

          <ngc-omnibox-suggestion-item>
            <img ng-attr-src="{{suggestion.url}}" >
          </ngc-omnibox-suggestion-item>

          <ngc-omnibox-suggestion-loading>
            Loading...
          </ngc-omnibox-suggestion-loading>

          <ngc-omnibox-suggestion-empty>
            No results...
          </ngc-omnibox-suggestion-empty>

        </ngc-omnibox-suggestions>
      </ngc-omnibox>

      <p>
        Model value:
        <pre><code style="white-space: pre-line">{{demo.model}}</code></pre>
      </p>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.5.0/fuse.min.js"></script>
    <script src="../dist/ngc-omnibox.js"></script>
    <script src="./simple-suggest.js"></script>
  </body>
</html>
